:root {
  --blue: #1d8ffb;
  --gray: #e8e8e8;
  --purple: #9370DB;
  --black: #272727;
  --darkGray: #b9b9b9;
}

.header {
  padding: 20px 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .search {
    flex-grow: 2;
    margin-right:10px;

    input[type='search'] {
      background: var(--gray);
      font-size: 14px;
      font-weight: bold;
      padding: 10px;
      border: none;
      border-radius: 3px;
      width: 100%;
    }
  }

  .buttons {
    flex-grow: 1;
    max-width: 200px;

    .btn {
      border-radius: 3px;
      padding: 10px;
      border: none;
      display: inline-block;
      background: var(--gray);
      font-size: 14px;
      font-weight: bold;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      &.btnSignup {
        background:var(--blue);
        color: #fff;
      }
    }
  }

  .results {
    position: absolute;
    width: 100%;
    padding:0 20px;
    left: 0;
    height: 400px;
    transition: all .3s ease-in-out;
    background: linear-gradient(to bottom,
            rgba(255,255,255,.99) 0,
            rgba(255,255,255,.624) 60%,
            rgba(255,255,255,.58) 70%,
            rgba(255,255,255,.37) 80%,
            rgba(255,255,255,.15) 90%,
            rgba(255,255,255,.01) 100%);

    .resultsContainer {
      list-style: none;
      padding: 0 24px 48px;
      transition:all .1s ease-in-out;
      background: linear-gradient(to bottom,
              rgba(255,255,255,.99) 0,
              rgba(255,255,255,.624) 92%,
              rgba(255,255,255,.58) 94%,
              rgba(255,255,255,.37) 96%,
              rgba(255,255,255,.15) 98%,
              rgba(255,255,255,.01) 100%);

      li {
        font-size: 24px;
        padding-bottom:5px;
        font-weight: bold;
        cursor: pointer;

        &.suggestedText {
          cursor: default;
          padding-bottom: 5px;
          color: var(--darkGray);
          font-size: 10px;
        }
      }
    }
  }
}

.mainGrid {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  > div {
    height: 500px;
    flex-grow: 1;
    min-width: 100px;
    max-width: 400px;
    border-radius: 10px;
    background: var(--black);

    &:first-child {
      background: var(--blue);
    }

    &:last-child {
      background: var(--purple);
    }
  }
}